name: Notification

on:
  workflow_dispatch:
  push:
    paths:
      - ".github/workflows/**"
      - "src/index.js"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./
        with:
          status: success
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
          release_url: https://appliedolap.com
        if: always()

      - uses: ./
        with:
          status: cancelled 
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
          release_url: https://appliedolap.com
        if: always()
        
      - uses: ./
        with:
          status: failure
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
          release_url: https://appliedolap.com
        if: always()
